<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>Controller_Main.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoPurchaseOrder</servlet-name>
        <servlet-class>Controller_PurchaseOrder.InfoPurchaseOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePurchaseOrder</servlet-name>
        <servlet-class>Controller_PurchaseOrder.DeletePurchaseOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoProduct</servlet-name>
        <servlet-class>Controller_Product.InfoProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPurchaseOrderServlet</servlet-name>
        <servlet-class>Controller_PurchaseOrder.AddPurchaseOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesByCustomer</servlet-name>
        <servlet-class>Controller_Charts.SalesByCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesByState</servlet-name>
        <servlet-class>Controller_Charts.SalesByState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesByProduct</servlet-name>
        <servlet-class>Controller_Charts.SalesByProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartsServlet</servlet-name>
        <servlet-class>Controller.ChartsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>app</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoPurchaseOrder</servlet-name>
        <url-pattern>/InfoPurchaseOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePurchaseOrder</servlet-name>
        <url-pattern>/DeletePurchaseOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoProduct</servlet-name>
        <url-pattern>/InfoProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPurchaseOrderServlet</servlet-name>
        <url-pattern>/AddPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesByCustomer</servlet-name>
        <url-pattern>/SalesByCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesByState</servlet-name>
        <url-pattern>/SalesByState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesByProduct</servlet-name>
        <url-pattern>/SalesByProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartsServlet</servlet-name>
        <url-pattern>/ChartsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
